<table class="table table-bordered">
    <tr class="table-success">
        <td colspan="14" class="titleTblCenterBoldBlue">KIT CRENI</td>
    </tr>
    <tr class="table-success">
        <td class="textTblCenterSmall">Amoxici.pdr/oral sus 125mg/5ml/BOT-100ml </td>
        <td class="textTblCenterSmall">Nystatin oral sus 100,000IU/ml/BOT-30ml </td> 
        <td class="textTblCenterSmall">Fluconazole 50mg caps/PAC-7 (non pas injection) </td>
        <td class="textTblCenterSmall">Ciprofloxacin 250mg <br/>tab/PAC-10 </td> 
        <td class="textTblCenterSmall">Ampicillinpdr/inj 500mg <br/>vial/BOX-100 </td>
        <td class="textTblCenterSmall">Gentamicininj 40mg/ml 2ml amp/BOX-50 </td> 
        <td class="textTblCenterSmall">Sod.lactat.comp.inj 500ml w/g.set/BOX-20 </td>
        <td class="textTblCenterSmall">Glucose inj 5% 500ml  <br/>w/giv.set/BOX-20 </td>
        <td class="textTblCenterSmall">Glucose hyperton.inj  <br/>50% 50mL vl/BOX-25 </td> 
        <td class="textTblCenterSmall">Furosemideinj 10mg/ml <br/>2ml amp/BOX-10 </td> 
    </tr>
    <tr>
        <td class="textTblCenter">
            <input type="text" name="kitCreniAmoxici" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniAmoxici" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniAmoxici }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniNystatin" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniNystatin" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniNystatin }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniFluconazole" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniFluconazole" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniFluconazole }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniCiprofloxacin" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniCiprofloxacin" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniCiprofloxacin }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniAmpicillinpdr" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniAmpicillinpdr" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniAmpicillinpdr }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniGentamicininj" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniGentamicininj" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniGentamicininj }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniSod" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniSod" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniSod }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniGlucoseInj" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniGlucoseInj" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniGlucoseInj }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniGlucoseHypertonInj" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniGlucoseHypertonInj" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniGlucoseHypertonInj }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniFurosemideinj" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniFurosemideinj" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniFurosemideinj }} {% endif %}" required="required">
        </td>
    </tr>
    <tr class="table-success">
        <td class="textTblCenterSmall">Chlorhexidine conc. sol. 5%/BOT-100ml</td> 
        <td class="textTblCenterSmall">Miconazole nitrate cream 2%/TBE-30g</td> 
        <td class="textTblCenterSmall">Tetracyclineeyeointment 1%/TBE-5g</td> 
        <td class="textTblCenterSmall">Tube,feeding,CH08, <br/>L40cm,ster,disp</td> 
        <td class="textTblCenterSmall">Tube,feeding,CH05, <br/>L40cm,ster,disp</td> 
        <td class="textTblCenterSmall">Syringe,disp,2ml,w/ndl,21G/BOX-100</td> 
        <td class="textTblCenterSmall">Syringe,disp,10ml, <br/>ster/BOX-100</td> 
        <td class="textTblCenterSmall">Syringe,disp,20ml, <br/>ster/BOX-100</td> 
        <td class="textTblCenterSmall">Syringe,feeding, <br/>50ml,luer tip,ster</td> 
        <td></td>
    </tr>
    <tr>
        <td class="textTblCenter">
            <input type="text" name="kitCreniChlorhexidine" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniChlorhexidine" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniChlorhexidine }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniMiconazole" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniMiconazole" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniMiconazole }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniTetracyclineeyeointment" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniTetracyclineeyeointment" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniTetracyclineeyeointment }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniTubeFeeding" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniTubeFeeding" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniTubeFeeding }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniTubeFeedingCH05" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniTubeFeedingCH05" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniTubeFeedingCH05 }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniSyringeDisp2ml" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniSyringeDisp2ml" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniSyringeDisp2ml }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniSyringeDisp10ml" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniSyringeDisp10ml" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniSyringeDisp10ml }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniSyringeDisp20ml" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniSyringeDisp20ml" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniSyringeDisp20ml }} {% endif %}" required="required">
        </td>
        <td class="textTblCenter">
            <input type="text" name="kitCreniSyringeDisp50ml" class="inputTblCenterWidth50 kitCreni readonly-field" readonly id="kitCreniSyringeDisp50ml" value="{% if isUserHavingDataCreni is defined and isUserHavingDataCreni == true %} {{ dataCreni.kitCreniSyringeDisp50ml }} {% endif %}" required="required">
        </td>
        <td></td>
    </tr> 
</table>