{% extends 'supervisorBase.html.twig' %}

{% block title %}Superviseur central- PVRD visualisation{% endblock %}

{% block body %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Liste des PVRD envoyés par les districts dans la région <span class="titleTblCenterBoldGreen">{{ dataRegion.nom }}</span> </h1>
        <p class="mb-4">Vous êtes sur la page dédiée à la visualisation des PVRD par région. Vous y trouverez le nombre de districts dans chaque région, les PVRD reçus de ces districts.</p>
        
        <div class="card shadow mb-4">
            <canvas id="districtsChart" height="200px;"></canvas> 
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des PVRD envoyé par région</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive table-wrapper"> 
                    <table class="table table-bordered table-fixed-header" id="dataTablePvrdRegion" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="textTblCenterBold">Districts</th>
                                <th class="textTblCenterBold">Responsables</th> 
                                <th class="textTblCenterBold">Date de réception</th>
                                <th class="textTblCenterBold">Date de PVRD</th>
                                <th class="textTblCenterBold">Date d'envoi (Téléversement)</th>
                                <th class="textTblCenterBold">Promptitude</th>
                                <th class="textTblCenterBold">Fichier</th> 
                            </tr> 
                        </thead>
                        <tbody>
                            {% for district in lstPvrdRegion %} 
                                <tr>
                                    <td class="textTblLeft" {% if district.nomUser|trim is empty %} style="color: #c71c22" {% endif %}>
                                        {{ district.districtNom }} <br/> 
                                        {# {% if district.nomUser|trim is not empty %}
                                            <a href="{{ path('app_supervisor_pvrd_detail_district', {'responsableDistrict': district.idUser}) }}"> Visualiser détail</a>
                                        {% endif %} #}
                                        {% if district.IdPvrd is defined and district.IdPvrd is not empty %}
                                            <a href="{{ path('app_supervisor_pvrd_detail', {'id': district.IdPvrd}) }}"> Visualiser détail</a>
                                        {% endif %}
                                        
                                    </td>
                                    <td class="textTblLeft">{% if district.nomUser|trim is not empty %} {{ district.nomUser }} {{ district.prenomUser }} <br/> <span style="font-size: 12px;">{{ district.telephoneUser }} <br/><b>Email: {{ district.email }} </b> </span>{% endif %}</td> 
                                    <td class="textTblLeft">{% if district.nomUser|trim is not empty %} {{ district.DateReception|date('d-m-Y') }} {% endif %}</td>
                                    
                                    <td class="textTblLeft">{% if district.nomUser|trim is not empty %} {{ district.DatePvrd|date('d-m-Y') }} {% endif %}</td>
                                    <td class="textTblLeft">{% if district.nomUser|trim is not empty %} {{ district.DateTeleversement|date('d-m-Y H:i:s') }} {% endif %}</td>
                                    <td class="textTblCenter">{% if district.nomUser|trim is not empty %} {% if (district.JoursOuvrablesDifference > 3) %} <span class="badge bg-danger badge-pill" style="font-size: 14px; color: #FFF"> Non </span> {% else %} <span class="badge bg-success badge-pill" style="font-size: 14px; color: #FFF"> Oui </span> {% endif %} {% endif %}</td>
                                    <td class="textTblLeft"><a href="{{ asset('uploads/PVRD/' ~ district.NewFileName) }}" target="_blank" style="color: #73a839; font-weight: bold;"><span style="font-size: 12px;">{{ district.NewFileName }}</span></a></td>
                                </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="centerContentDiv">
                <a href="{{ path('app_accueil_sp_pvrd') }}" class="btn btn-secondary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">Retour à la liste par région</span>
                </a>
            </div>
        </div>

    </div> 
    <script src="{{ asset('js/Chart.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var districtsDataPvrd = {{ districtsDataPvrd|json_encode|raw }};
            var ctx = document.getElementById('districtsChart').getContext('2d');

            var labels = [];
            var data = [];

            districtsDataPvrd.forEach(function(district) {
                labels.push(district.districtName);
                data.push(district.countPvrd );
            });

            var myChartRmaNut = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Districts ayant envoyé le fichier Pvrd',
                        data: data,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    maintainAspectRatio: false, // Désactiver le maintien du rapport d'aspect
                    responsive: true
                }
            });
        });
    </script>
{% endblock %}