{% extends 'base_admin.html.twig' %}

{% block title %}Mois de projection{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/select2.min.css') }}" type="text/css"/>
{% endblock %}
{% block body %}
<div class="col-md-12">
		<div class="card ">
			<div class="card-header card-header-green card-header-text">
				<div class="card-text">
					<h4 class="card-title">Modifier mois de projection</h4>
				</div>
			</div>
			<div class="card-body ">
				{{ form_start(form, {'action': path('app_mois_projections_admissions_edit', { 'id': mois_projections_admission.id }), 'method': 'POST', 'attr': {'enctype':'multipart/form-data', 'class': 'form-horizontal'}}) }}
                <div class="row">
					<label class="col-sm-2 col-form-label">Groupe</label>
						<div class="col-sm-10">
							<div class="form_group">
								{{ form_widget(form.Groupe) }}
							</div>
						</div>
				</div>
				  <div class="row">
					<label class="col-sm-2 col-form-label">Commande</label>
						<div class="col-sm-10">
							<div class="form_group">
								{{ form_widget(form.CommandeTrimestrielle) }}
							</div>
						</div>
				</div>
                 <div class="row">
                <label class="col-sm-2 col-form-label">Mois d'admission CRENAS enregistré</label>
					<div class="col-sm-10">
						<div class="form_group">
							{{ form_widget(form.MoisAdmissionCRENASAnneePrecedent) }}
						</div>
					</div>
				</div>
				   <div class="row">
                <label class="col-sm-2 col-form-label">Mois d'admission qui avait été projeté</label>
					<div class="col-sm-10">
						<div class="form_group">
							{{ form_widget(form.MoisAdmissionProjeteAnneePrecedent) }}
						</div>
					</div>
				</div>
				  <div class="row">
                <label class="col-sm-2 col-form-label">Mois d'admission prévisionnelle</label>
					<div class="col-sm-10">
						<div class="form_group">
							{{ form_widget(form.MoisProjectionAnneePrevisionnelle) }}
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer ">
				{{ form_widget(form.save) }}
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{asset('assets/js/select2.min.js')}}"></script>
	<script>
		$(document).ready(function () {
	
				$(".mul-select").select2({
				placeholder: "Choisir province", // placeholder
				tags: true,
				tokenSeparators: ['/', ',', ';', " "]
				});

		});

		
	</script>
{% endblock %}
