{% extends 'base_admin.html.twig' %}

{% block title %}MoisProjectionsAdmissions{% endblock %}

{% block body %}
    <h1>Mois Projections Admissions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mois_projections_admission.id }}</td>
            </tr>
            <tr>
                <th>Mois d'admission CRENAS enregistré</th>
                <td>{{ mois_projections_admission.MoisAdmissionCRENASAnneePrecedent }}</td>
            </tr>
            <tr>
                <th>Mois d'admission qui avait été projeté</th>
                <td>{{ mois_projections_admission.MoisAdmissionProjeteAnneePrecedent }}</td>
            </tr>
            <tr>
                <th>Mois d'admission prévisionnelle</th>
                <td>{{ mois_projections_admission.MoisProjectionAnneePrevisionnelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mois_projections_admissions_index') }}">back to list</a>

    <a href="{{ path('app_mois_projections_admissions_edit', {'id': mois_projections_admission.id}) }}">edit</a>

    {{ include('admin/mois_projections_admissions/_delete_form.html.twig') }}
{% endblock %}
